<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title> <!-- Aquí usamos la variable 'title' que se carga desde 'process.env.APP_NAME' -->
  <link rel="icon" href="<%= env.STATIC_URL %>favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="<%= env.STATIC_URL %>dist/vendor.min.css">
  <% if (env.STATIC_ENV === 'development') { %>
    <link rel="stylesheet" href="<%= env.STATIC_URL %>dist/app.css">
  <% } else if (env.STATIC_ENV === 'production') { %>
    <link rel="stylesheet" href="<%= env.STATIC_URL %>dist/app.min.css">
  <% } %>
  <script>
    const URLS = {
      BASE: "<%= env.BASE_URL %>",
      STATIC: "<%= env.STATIC_URL %>",
      FILES_SERVICE: "<%= env.URL_FILES_SERVICE %>",
      TICKETS_SERVICE: "<%= env.URL_TICKETS_SERVICE %>",
    };
  </script>
</head>
<body>
  <% if (env.STATIC_ENV === 'development') { %>
    <script src="<%= env.STATIC_URL %>dist/app.js"></script>
  <% } else if (env.STATIC_ENV === 'production') { %>
    <script src="<%= env.STATIC_URL %>dist/app.min.js"></script>
  <% } %>
</body>
</html>
